/** agreguemos nuestras variables de colores y la fuente **/
:root {
    --Negro: #0D0D0D;
    --Blanco: #F2F1F0;
    --RosaPalido: #F294C0;
    --RosaFuerte: #F294C0;
    --RosaRojo: #F2055C;

    --fuente: 'Staatliches', cursive;
}

/**Definiendo las goblales, las inigualables tanto de size box y de medicion rem**/
html {
    box-sizing: border-box;

    /**recordar poner esto para poder utilizar bien los  rem, 1 rem == 10 px**/
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}

/**Globales**/
body {
    /**Agreguemos mejor un background con degradado**/
    background-image: linear-gradient(to top, var(--RosaPalido) 0%, var(--RosaRojo) 100% ); /**color principal de la pagina, el background**/
    font-size: 1.6rem; /**16 pixeles**/
    line-height: 1.5;
}

/**que todos los parrafos sean iguales**/
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Blanco);
}

/**estos son los links**/
a {
    text-decoration: none;

}
img {
    width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto; /**esto para centrarlo**/
}

/**ahora los headings, cambiamos su color, alineacion y fuente**/
h1,h2,h3 {
    text-align: center;
    color: var(--Blanco);
    font-family: var(--fuente);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

/**Header**/
.header {

    /**recordemos centrarlo horizontalmente**/
    display: flex;
    justify-content: center;
}
.header__logo {
    margin: 3rem 0; /**separacion de 30 pixeles arriba y abajo y 0 de izquiera y derecha**/
}
/**aqui pondremos el footer**/
.footer{
    background-color: var(--RosaPalido);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto {
    text-align: center;
    font-family: var(--fuente);
    font-size: 2.2rem;
}

/**Navegacion**/
.Navegacion{
    /**pongamos la barra con color y un ancho algo medio**/
    background-color: var(--RosaPalido);
    padding: 1rem 0;
    
    /**ordenemos sus elementos*/
    display: flex;
    justify-content: center;

    /**usamos gap para separar mas sus elementos**/
    /*gap: 2rem;*/
}
.Navegacion__enlace{
    font-family: var(--fuente);
    color: var(--Blanco);
    font-size: 3rem;
    margin-right: 2.5rem;
}
.Navegacion__enlace:after:last-of-type{ /**este se refiere al ultimo "a" de los enlaces**/
    margin-right: 0; 
}
/**ahora cuando el evento del cursor pasando encima de los enlaces, este cambiara su diseño**/
.Navegacion__enlace:hover, .Navegacion__enlace--activo{
    color: var(--RosaRojo);
}

/** grid **/
.grid{
    /**mostraremos como un grid, de manera de columna, 2 elementos que ocupan 1 fraccion del 100%, osea 50-50**/
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    /**agreguemos su separacion**/
    gap: 2rem;
}
/**de una vez su media querie, para pantallas mas grandes de 768px, mostrar 3 elementos por columna**/
@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr); 
    }
}

/** productos **/
.producto{ /**este es el bloque**/
    background-color: var(--RosaRojo);
    padding: 1rem;
}
/**sus elementos**/
.producto__imagen{
    width: 100%;
}
.producto__nombre{
    font-size: 4rem;
}
.producto__precio{
    font-size: 2.8rem;
    color: var(--Blanco);
}

/**asignamos un diseño general para ambos**/
.producto__nombre,
.producto__precio {
    font-family: var(--fuente);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/**Imagenes grandes/graficos**/
.grafico {

    /**aqui le damos el espacio a la imagen, que no se repita y que cubra el espacio disponible**/
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.grafico--camisas{
    /**que se muestre de la linea 2 al 3 y de la columna del 1 al 3**/
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background-image: url(../img/grafico1.jpg);
}
.grafico--node{
    background-image: url(../img/grafico2.jpg);
    grid-column: 1 / 3;
    grid-row: 8 / 9;
}

/**agreguemos sus respectivos media queries**/
@media (min-width: 768px) {
    .grafico--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/** NOSOTROS **/
.contenedor__descripcion{
    display: grid;
    grid-template-rows: repeat(2,auto);
}
@media (min-width: 768px) {
    .contenedor__descripcion{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.contenedor__foto{
   grid-row: 1 / 2;
   width: 100%;
}
@media (min-width: 768px) {
    .contenedor__foto{
        grid-column: 2 / 3;
    }
}

/**Bloques**/
.bloques {
    display: grid;

    /**aqui agregaremos 2 columnas, estamos haciendo de una vez la parte para pantallas pequeñas**/
    grid-template-columns: repeat(2, 1fr);

    /**agreguemos separacion entre ellos**/
    gap: 2rem;
}
/**su respectivo MQ**/
@media (min-width: 768px) {
    .bloques{
        /**para pantallas mas grandes de 768px que sean 4 columnas**/
        grid-template-columns: repeat(4,1fr);
    }
}

.bloque {
    /**centraremos el texto con la imagen de paso**/
    text-align: center; /**ni yo sabia que tambien jalaba las imagenes jaja**/
}
.bloque_titulo {
    margin: 0; /**haremos que el bloque este mas junto**/
}
/**modificaremos la imagen**/
.bloque__imagen {
    width: 100%; /**que ocupe todo el espacio disponible**/
}

/** pagina del producto **/
/**de una vez su MQ**/
@media (min-width: 768px) {
    .camisa{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}
.formulario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.formulario__campo {
    border-color: var(--RosaPalido);
    border-width: 1rem;
    border-style: solid;
    background-color: var(--RosaFuerte);
    color: var(--RosaRojo);
    font-family: var(--fuente);
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}
.formulario__submit {
    background-color: var(--RosaRojo);
    color: var(--Blanco);
    font-size: 2rem;
    font-family: var(--fuente);
    padding: 2rem;
    grid-column: 1/3;

    /**como todos los inputs tienen un border default, se lo quitamos**/
    border: none;

    /**agregaremos una nueva propiedad y es de transition, cuando queremos animar el cambio de estado de una propiedad misma a otro valor, agregamos esto**/
    transition: background-color 1s ease; /**aqui cuando el hover se active, ocurrira la transicion del background color a 1 segundo, el ease es el tipo de animacion**/
    transition: font-size 1s ease;

}
/**le agregamos estilo cuando este el cursor encima**/
.formulario__submit:hover{
    cursor: pointer;
    background-color: var(--RosaFuerte);
    font-size: 2.5rem;
}